body{
    /* background-color: aquamarine; */
}

.main-menu {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 5%;
    border: 1px dotted blue;
    justify-content: space-between;
    align-items: center;
}

.Imagen {
    height: 50px;
}